{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сырсөздү кайра коюу" %}{% endblock %}

{% block content %}
    <h1>{% trans "Сырсөздү кайра коюу" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Биз сизге электрондук кат жөнөттүк. Эгер сиз бир нече мүнөттүн ичинде электрондук кат албасаңыз, биз менен байланышыңыз!{% endblocktrans %}</p>
{% endblock %}
