{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сырсөздү кайра коюу" %}{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
<div class='col-md-8 offset-md-2'>
    <h1>{% trans "Сырсөздү кайра коюу" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Сыр сөзүңүздү унуттуңузбу? Төмөндө электрондук почтаңызды киргизиңиз, биз сизге аны өзгөртүүгө уруксат берүүчү кат жөнөтөбүз." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn-primary btn" type="submit" value="{% trans 'Сырсөздү өзгөртүү' %}" />
    </form>

    <p>{% blocktrans %} Сырсөзүңүздү кайра коюуда кандайдыр бир кыйынчылыкка туш болсоңуз, биз менен байланышыңыз. {% endblocktrans %}</p>
</div></div>
{% endblock %}
